body {
  background-color: #ececec;
}

.App {
  text-align: center;
}

.content {
  width: 60%;
  margin: 200px auto;
}

input,
button {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px 10px 20px 0;
}

button {
  background: #4a9dff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

button:hover {
  background: #3e7bc2;
  transition: 0.3s;
}

.newUser {
  width: 80%;
  display: grid;
  grid-template-columns: 35% 35% 15% 15%;
}

.stroke {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  margin: 3px auto;
  background-color: white;
  border-radius: 5px;
}

.stroke div,
.stroke strong {
  margin: 10px auto;
  color: #5d6e97;
}

@media screen and (max-width: 1124px) {
  .newUser {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stroke div,
.stroke strong {
  font-size: 12px;
  margin: 5px auto;
}
}
